.header {
    padding: 50px 100px;
    text-align: center;
    background-color: #999;
    font-size: 32px;
    font-family: sans-serif;
    color: #fff;
}

.main {
    background-color: rgb(118, 211, 168);
    padding: 50px 100px;
    font-size: 38px;
    color: aliceblue;
    font-family: sans-serif;
    text-align: center;
}